.navbar-custom {
  background: var(--card-bg);
color: var(--text-color);
border-bottom: 1px solid var(--border-color);
  padding: 18px 30px;
  box-shadow: 0 2px 8px rgba(0,0,0,.08);

  input {
    border-radius: 20px;
  }

  i {
    cursor: pointer;
    transition: .3s;

    &:hover {
      color: #2563eb;
    }
  }

  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
}

.menu-btn{
display:none;

border:none;

background:none;

font-size:22px;
}

.navbar-search{

width:260px;
}

@media(max-width:991px){

.menu-btn{

display:block;
}

.navbar-search{

display:none;
}

}