.navbar-custom {
  height: 72px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 24px;

  background: var(--card-bg);
  border-bottom: 1px solid var(--border-color);

  box-shadow: 0 2px 8px rgba(0,0,0,.06);
}

/* LEFT */

.navbar-menu-btn{
  width:44px;
  height:44px;

  flex-shrink:0;

  display:flex;
  align-items:center;
  justify-content:center;

  border:none;
  border-radius:12px;

  background:transparent;

  color:var(--text-color);

  cursor:pointer;

  transition:.25s;
}

.navbar-menu-btn svg{
  font-size:20px;
}

.navbar-menu-btn:hover{
  background:#2563eb;
  color:#fff;
}

/* RIGHT */

.navbar-right{
  display:flex;
  align-items:center;
  gap:16px;
}

.navbar-theme {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 44px;

  flex-shrink: 0;
}

.navbar-search{
  width:280px;
  border-radius:24px;
}

.icon-btn{
  width:40px;
  height:40px;

  display:flex;
  align-items:center;
  justify-content:center;

  border:none;
  background:transparent;

  border-radius:10px;

  cursor:pointer;

  color:var(--text-color);

  transition:.25s;
}

.icon-btn:hover{
  background:#2563eb;
  color:#fff;
}

.icon-btn i{
  font-size:20px;
}

@media(max-width:991px){

.navbar-custom{
padding:0 16px;
}

.navbar-search{
display:none;
}

.navbar-right{
gap:10px;
}

}