.modal-content{
    border-radius:16px;
}

.modal-header{
    border-bottom:1px solid var(--border-color);
}

.modal-body{
    background:var(--card-bg);
}

.form-control,
.form-select{
    background:var(--card-bg);
    color:var(--text-color);
    border:1px solid var(--border-color);
}

.form-control:focus,
.form-select:focus{
    box-shadow:none;
    border-color:var(--primary-color);
}